/* FontFamily
 font-family: 'Dancing Script',
 cursive;
 font-family: 'Roboto',
 sans-serif;
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    
}

header,
section,
footer{
    width: 96rem;
    margin: 0 auto;
}
/* Header */
#header{
    background: -webkit-linear-gradient(90deg, #000000 0%, #111010 50%, #303037 100%);
    background: -moz-linear-gradient(90deg, #000000 0%, #111010 50%, #303037 100%);
    background: linear-gradient(90deg, #000000 0%, #111010 50%, #303037 100%);
    height: 5rem;
    position: sticky; 
    top: 0;
    z-index: 1;
}

.marca{
    float: right;
    height: 5rem;
    width: 30rem;
}

#titulo{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffffea;
    margin: 0;
    padding: .5rem 0;
}

#btn_burger{
    float: right;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 1px;
    right: 20px;
    
}

#btn_burger a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    
}

#navegacion{
    height: 5rem;
    width: 45rem;
    font-size: 1.8rem;
    float: left;
    padding: 1.2rem;
    margin-left: 0;
    padding-left: 0;
    
   
}

#navegacion ul {
    list-style-type: none;
}

#navegacion ul li {
    display: inline;
    
}

#navegacion ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 1rem;
    margin-left: 1rem;
    color: #ffffffea;
}
#navegacion ul li a:hover{
    text-decoration: underline;
}

/* inicio */

 #inicio {
    height: 50rem;
    background-image: url(../img/fondo.webp);
    background-size: cover;
    background-repeat: no-repeat;   
}

.inicio_contenedor {
    height: 35rem;
    width: 45rem;
    position: relative;
    top: 10rem;
    margin-left: 5rem;
    color: #ffffffea;
    
}
.inicio_subcontenedor{
    height: 28rem;
}
.inicio_subtitulo{
    font-size: 4rem;
    margin: 0 auto;
    padding: 1rem 0;
  
}

.inicio_txt{
    font-size: 2rem;
    line-height: 2.4rem;
    padding-bottom: 1rem;
}

.inicio_sociales{
    float: left;
    font-size: 3rem;      
}

.inicio_sociales ul{
    margin: 0;
    padding: 0;
   
}
.inicio_sociales ul li {
    text-decoration: none;
    display: inline-block;
    padding-right: 2rem;
    
}
.inicio_sociales ul li a{
    color: #ffffffea;
}
 /* Cuestionario Js */
 /* #interaccion {
    background-color: #000;
    height: 22rem;
    color: #ffffff;
    text-align: center;
    border: 1px dashed rgb(71, 66, 66);
 }

 .contenedor-js h2{
     font-family: 'Dancing Script', cursive;
     padding-top: 1rem;
 }
 .contenedor-js p {
     font-weight: bold;
     padding-top: 1rem;
     font-size: 2rem;
 } */

/* Artista */

#artista {
    background-color: #000000;
    height: 38rem;
    position: relative;
}
.subtitulo h2{
    color: #ffffffea;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    font-size: 3.6rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0;
}
#img-artista{
    height: 35rem;
    width: 25rem;
    position: absolute;
    top: 10rem;
    left: 22rem;
}

.tatuador{
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border: 3px solid #303037;
}
#txt-artista {
    height: 25rem;
    width: 30rem;
    float: right;
    position: absolute;
    top: 5rem;
    left: 50rem;
    color: #ffffff;
    padding-top: 2rem;
    line-height: 2.4rem;
}
#txt-artista h3{
    text-align: center;
    font-size: 3rem;
    padding: 1.6rem;

}
#txt-artista p{
    font-size: 1.8rem;
}

/* Trabajos */

#trabajos {
    background-color: #000;
    height: 70rem;
    position: relative;
}
.subtitulo{
    background-color: #000000;
    height: 5rem;
    width: 20rem;
    margin: 0 auto;
}

.imagen-trabajo-uno { 
    position: absolute;
    width: 30rem;
    height: 30rem;
    top: 7rem;
    left: 1.5rem;
}
.imagen-trabajo-dos {
    position: absolute;
     width: 30rem;
     height: 30rem;
     top: 7rem;
     left: 33rem;
}
 .imagen-trabajo-tres {
    position: absolute;
     width: 30rem;
     height: 30rem;
     top: 7rem;
     left: 64.5rem;
}
.imagen-trabajo-cuatro {
    position: absolute;
     width: 30rem;
     height: 30rem;
    top: 38.5rem;
    left: 1.5rem;

}
.imagen-trabajo-cinco {
    position: absolute;
     width: 30rem;
     height: 30rem;
     top: 38.5rem;
     left: 33rem;
}
.imagen-trabajo-seis {
    position: absolute;
     width: 30rem;
     height: 30rem;
      top: 38.5rem;
      left: 64.5rem;
}  

/* Formulario */

#contacto {
    background-color: #d87093;
    height: 52rem;
    
}

#formulario{
   background-color: #00ffdd;
   height: 45rem;
   width: 55rem;
   margin: 1rem auto 0; 
}


/* Footer */

#footer {
    background-color: #000000;
    height: 12rem;
}

.footer_contacto {
    width: 25rem;
    height: 8rem;
    float: left;
    color: #ffffff;
    font-size: 1.5rem;
}
.footer_contacto ul {
    list-style: none;
    margin: 0 1rem;
    padding: 1rem;
}
.footer_contacto ul li{
    padding-bottom: .5rem;
}
.footer_contacto ul li a{
    color: #ffffff;
   
}

.footer_sociales{
    float: right;
    margin-right: 3rem;
    font-size: 2rem;
}
.footer_sociales ul {
    margin: 0;
    padding: 0;
}

.footer_sociales ul li {
    text-decoration: none;
    list-style-type: none;
    
}

.footer_sociales ul li a {
    color: #ffffffea;
}

@media all and (min-width: 600px) and (max-width: 1023px) {

    header,
    section,
    footer {
        width: 58rem;
    }

    /* Header */

    #header {
        position: static;
    }

    .marca {
        width: 20rem;
    }

    #navegacion{
        font-size: 1.6rem;
        width: 38rem;
        /* font-weight: bold; */
    }

    /* inicio */

    .inicio_contenedor {
        background-color: rgba(255, 255, 255, 0.2);
        height: 29rem;
        margin: 0 auto;
    }

    .inicio_subcontenedor {
        height: 29rem;
    }

    .inicio_subtitulo {
        text-align: center;
    }

    .inicio_txt {
        text-shadow: 1px 1px #000000;
        text-align: center;
        padding-bottom: 1rem;
        line-height: 2.4rem;
    }

    .inicio_sociales {
        position: relative;
        left: 11rem;
    }

    .inicio_sociales ul li {
        padding-right: 3rem;
    }

    /* Artista */

    #artista {
        height: 58rem;
    }

    #img-artista {
        position: static;
        width: 100%;
        height: auto;
        margin-top: 5rem;
    }

    .tatuador {
      display: block;
      margin: 0 auto;
    }

    #txt-artista {
        top: 28rem;
        left:0;
        text-align: center;
        width: 100%;
        height: auto;
        margin-top: 5rem;
    }

    /* Trabajos */

    #trabajos {
        height: 93rem;
    }

    .imagen-trabajo-uno {
        width: 26rem;
        height: 26rem;
    }

    .imagen-trabajo-dos {
        width: 26rem;
        height: 26rem;
        left: 30rem;
    }

    .imagen-trabajo-tres {
        width: 26rem;
        height: 26rem;
        top: 35rem;
        left: 1.5rem;
    }

    .imagen-trabajo-cuatro {
        width: 26rem;
        height: 26rem;
        top: 35rem;
        left: 30rem;

    }

    .imagen-trabajo-cinco {
        width: 26rem;
        height: 26rem;
        top: 63rem;
        left: 1.5rem;
    }

    .imagen-trabajo-seis {
        width: 26rem;
        height: 26rem;
        top: 63rem;
        left: 30rem;
    }

    /* Formulario */

    #contacto {
        height: 55rem;

    }

    #formulario {
        width: 90%;
        margin: 2rem auto 0;
    }


}

/* Fin media 800 a 1023px */

@media all and (max-width: 599px) {

    header,
    section,
    footer {
        width: 90%;
    }

    /* Header */

    #header {
        height: auto;
        position: static;   
    }

    .marca,
    #navegacion {
        height: auto;
        width: 100%;
        float: none;
    }
    #btn_burger{
        display: block;
    }
    #navegacion{
    display: none;
    }

    #navegacion ul{
        margin: 0;
        padding: 0;
    }

    #navegacion ul li {
        display: block;
    }

    #navegacion ul li a {
        width: 95%;
        padding: 2rem 0;
    }

    #navegacion ul li a:hover {
        text-decoration: none;
        background-color: #303037;
    }

    /* inicio */

    #inicio {
        height: 45rem;  
    }

    .inicio_contenedor {
        width: 100%;
        height: 45rem;
        margin: 0;
        position: relative;
        top: 0;
        background-color: rgba(255, 255, 255, 0.2);

    }

    .inicio_subcontenedor {
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 1px 0 #000;
        padding: 1.6rem;
    }

    .inicio_txt{
        padding-bottom: 1rem;
    }

    .inicio_sociales {
       margin: 0 auto;
       display: block;
       width: 100%;
    }

    .inicio_sociales li a {
        padding: .5rem;
    }

   


    /* Artista */

    #artista {
        height: 58rem;
       
    }
    .subtitulo{
        font-size: 3rem;
    }

    #img-artista {
        position: static;
        width: 100%;
        height: auto;
        margin-top: 2rem;
        
    }
    
    .tatuador{
        display: block;
        margin: 0 auto;   
    }

    #txt-artista {
        width: 100%;
        float: none;
        position: static;
        text-align: center;
    }

    #txt-artista h3{
        font-size: 2.4rem;
        padding: 2rem;
    }

    #txt-artista p{
        padding: 0 2rem;
        font-size: 1.8rem;
    }

     /* Trabajos */

     #trabajos {
         height: 201rem;
       
     }

     .imagen-trabajo-uno {
         width: 90%;
         height: 30rem;
         left: 2rem ;
     }

     .imagen-trabajo-dos {
         width: 90%;
         height: 30rem;
         top: 39rem;
         left: 2rem;
     }

     .imagen-trabajo-tres {
         width: 90%;
         height: 30rem;
         top: 71rem;
         left: 2rem;
     }

     .imagen-trabajo-cuatro {
         width: 90%;
         height: 30rem;
         top: 103rem;
         left: 2rem;

     }

     .imagen-trabajo-cinco {
         width: 90%;
         height: 30rem;
         top: 135rem;
         left: 2rem;
     }

     .imagen-trabajo-seis {
         width: 90%;
         height: 30rem;
         top: 167rem;
         left: 2rem;
     }

     /* Formulario */

     #contacto {
         height: 55rem;

     }

     #formulario {
         width: 90%;
         margin: 2rem auto 0;
     }
}

/* Fin Media 599px */