/* FontFamily
 font-family: 'Dancing Script',
 cursive;
 font-family: 'Roboto',
 sans-serif;
 */


html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    
}

header,
section,
footer{
    width: 96rem;
    margin: 0 auto;
}
/* Header */
#header{
    background: -webkit-linear-gradient(90deg, #000000 0%, #111010 50%, #303037 100%);
    background: -moz-linear-gradient(90deg, #000000 0%, #111010 50%, #303037 100%);
    background: linear-gradient(90deg, #000000 0%, #111010 50%, #303037 100%);
    height: 5rem;
    position: sticky; 
    top: 0;
    z-index: 9999;
}

.marca{
    float: right;
    height: 5rem;
    width: 30rem;
}

#titulo{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #ffffffea;
    margin: 0;
    padding: .5rem 0;
}
#navegacion{
    height: 5rem;
    width: 35rem;
    float: left;
}

#navegacion ul {
    list-style-type: none;
}

#navegacion ul li {
    display: inline;
    
}

#navegacion ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 1rem;
    margin-left: 1rem;
    color: #ffffffea;
}
#navegacion ul li a:hover{
    text-decoration: underline;
}

/* inicio */
 #inicio {
    height: 50rem;
    background-image: url(../img/tattoo-artist-556036_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.inicio_contenedor {
    height: 35rem;
    width: 45rem;
    position: relative;
    top: 13rem;
    margin-left: 5rem;
    color: #ffffffea;
}
.inicio_subcontenedor{
    height: 28rem;
}
.inicio_subtitulo{
    /* text-align: center; */
    font-size: 4rem;
    margin: 0 auto;
  
}
/* .inicio_txt{
    padding-top: 2rem;
} */
.inicio_sociales{
    float: left;
    font-size: 3rem;
      
}

.inicio_sociales ul{
    margin: 0;
    padding: 0;
}
.inicio_sociales ul li {
    text-decoration: none;
    display: inline-block;
    
    
}
.inicio_sociales ul li a{
    color: #ffffffea;
}

/* Artista */

#artista {
    background-color: #00ffff;
    height: 35rem;
    position: relative;
}

#img-artista{
    background-color: #0000ff;
    height: 25rem;
    width: 20rem;
    position: absolute;
    top: 7rem;
    left: 25rem;
}

.tatuador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
}
#txt-artista {
    background-color:#4f4fb891;
    height: 25rem;
    width: 30rem;
    float: right;
    position: absolute;
    top: 7rem;
    left: 50rem;
}

/* Trabajos */
#trabajos {
    background-color: #a05f95;
    height: 70rem;
    position: relative;
}
.subtitulo{
    background-color: #000000;
    height: 5rem;
    width: 20rem;
    margin: 0 auto;
}

.imagen-trabajo-uno {
    position: absolute;
    background-color: #db1f11;
    width: 30rem;
    height: 30rem;
    top: 7rem;
    left: 1.5rem;
}
.imagen-trabajo-dos {
    position: absolute;
    background-color: #db1f11;
     width: 30rem;
     height: 30rem;
     top: 7rem;
     left: 33rem;
}
 .imagen-trabajo-tres {
    position: absolute;
    background-color: #db1f11;
     width: 30rem;
     height: 30rem;
     top: 7rem;
     left: 64.5rem;
}
.imagen-trabajo-cuatro {
    position: absolute;
    background-color: #db1f11;
     width: 30rem;
     height: 30rem;
    top: 38.5rem;
    left: 1.5rem;

}
.imagen-trabajo-cinco {
    position: absolute;
    background-color: #db1f11;
     width: 30rem;
     height: 30rem;
     top: 38.5rem;
     left: 33rem;
}
.imagen-trabajo-seis {
    position: absolute;
    background-color: #db1f11;
     width: 30rem;
     height: 30rem;
      top: 38.5rem;
      left: 64.5rem;
} 

/* Formulario */
#contacto {
    background-color: #d87093;
    height: 52rem;
    
}

#formulario{
   background-color: #00ffdd;
   height: 45rem;
   width: 55rem;
   margin: 1rem auto 0; 
}


/* Footer */
#footer {
    background-color: #90ee90;
    height: 5rem;
}

.redes-sociales {
    background-color: #ffd000cb;
    height: 5rem;
    width: 20rem;
    float: left;
}

#txt-footer{
    background-color: #1900ff;
    height: 5rem;
    width: 30rem;
    margin: 0 auto;
}

@media all and (min-width: 600px) and (max-width: 1023px){

    header,
    section,
    footer {
        width: 58rem;
    }

    /* Header */
    .marca {
        width: 23rem;
        
    }

    /* inicio */


    .inicio_contenedor {
    background-color: rgba(255, 255, 255, 0.2);
    height: 22rem;
    margin: 0 auto;
    
    }

    .inicio_subcontenedor {
        height: 28rem;
        
    }

    .inicio_subtitulo {
        text-align: center;

    }

    .inicio_txt{
        text-shadow: 1px 1px black;
    }
    .inicio_sociales{
        position: relative;
        left: 11rem
    }

    .inicio_sociales li a{
        padding-right: 3rem;
    }

}   
/* Fin media 800 a 1023px */

@media all and (max-width: 599px){
    header,
    section,
    footer {
        width: 90%;
    }
}
/* Fin Media 599px */